/* body {
    border: 1px solid goldenrod;
} */
/* 
main {
    border: 1px solid magenta
} */

/* section {
    border: 1px solid green
} */

/* .content {
    border: 1px solid darkblue;
} */

/* .info {
    border: 1px solid darkorange
} */

/* .share-info {
    border: 1px solid rebeccapurple
} */

/* .main-img {
    border: 1px solid slateblue
} */

/* .arrow{
    border: 1px solid blue
} */

/* .author-date{
    border: 1px solid firebrick;
} */


/* #share-inactive{
    border: 1px solid forestgreen
} */

/* .share-active{
    border: 1px solid blueviolet
} */

/* .share-active a {
   border: 1px solid yellow;
} */

/* .share-inactive a img{
    border: 1px solid orangered;
 } */

 /* .links{
    border: 1px solid brown;
 } */

 /* .triangle{
    border: 1px solid gold;
 } */