/* body{
    border: 2px solid cyan;
}

header{
    border: 2px solid orange;
} */ 

/* section{
    border: 2px solid purple;
}

.name-exp{
    border: 2px solid red ;
}

.info2{
    border: 2px solid salmon;
} 

 main{
    border: 1px solid lawngreen;
}  */

 /* #expiry-div{
    border: 1px solid orange;
}

 #date{
    border: 1px solid magenta;
 } */